<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextName>tesla</contextName>
	
	<jmxConfigurator contextName="tesla" />

	<appender name="tesla" class="ch.qos.logback.core.FileAppender">
		<File>log/tesla.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<root>
		<appender-ref ref="tesla" />
	</root>	
	<logger name="org.red5.demos.tesla">
		<level value="TRACE" />
	</logger>		
</configuration>
